body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#experiments {
  display: none;
}

a {
  color: blueviolet;
  font-size: 1.3em;
  padding: 0 0.5em;
}
